@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Secular+One&display=swap');

.swal-overlay {
    background-color: rgb(255, 255, 255);
}

.swal-modal {
    border-style: solid;
    border-color: black;
    background-color: rgb(242, 242, 230);
}

.swal-button {
    background-color: black;
    position: relative;
    right: 174px;
}

.swal-button button:hover {
    background-color: rgb(216, 215, 203);
}

.swal-title {
    font-family: 'Secular One', sans-serif;
    color: black;
    text-transform: uppercase;
}

.swal-content__input {
    text-align: center;
    border-style: solid;
    border-color: black;
}