html,
body {
    width: auto !important;
    overflow-x: hidden !important
}

body {
    background: black;
}

.container {
    display: grid;
    grid-column-gap: 5rem;
    grid-row-gap: 42px;
    grid-template-columns: 50% 50%;
}

.container div:nth-child(1) {
    background: white;
    width: 360px;
    border-radius: .7em;
    height: 50px;

}

div:nth-of-type(2) {
    background: white;
    width: 550px;
    border-radius: .7em;
    height: 50px;
}

div:nth-of-type(3) {
    background: white;
    height: 490px;
    width: 380px;
    border-radius: .7em;
}

div:nth-of-type(4) {
    background: white;
    height: 240px;
    position: absolute;
    top: 110px;
    right: 0;
    width: 70px;
    border-radius: .7em;
}

/* .container div {
  width: 100%;
  height: 70px;
}
 */

.logo {
    font-size: 17px;
    margin-left: .5em;
    font-family: 'Secular One', sans-serif;
}

.name {
    position: absolute;
    top: 8px;
    left: 87px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.inviteBtn {
    float: right;
    width: 60px;
    margin-right: .7em;
    background-color: rgb(65, 105, 225);
    border: none;
    border-radius: .3em;
    padding: .4em;
    position: relative;
    top: -34px;
}

.inviteBtn a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* span {
    margin-left: .3em;
    position: absolute;
    top: 18.5px;
    display: inline;
} */

.icons {
    width: 25px;
    height: 35px;
}

.icon-volume {
    margin-top: 0.3em;
    width: 25px;
    height: 35px;
    margin-left: 5px;
}

.icon-off {
    width: 25px;
    height: 35px;
    display: none;
}

.icon-save {
    width: 25px;
    height: 35px;
    margin-left: 35px;
}

.icon-expand {
    margin-left: 45px;
    width: 22px;
    height: 30px;
}

.profileIcon {
    float: right;
    margin-top: .4em;
    margin-right: 30px;
    height: 30px;
    width: 30px;
}

.tech {
    width: 60px;
    height: 60px;
    object-fit: fill;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 15px;
    margin-left: 5px;
}

div:nth-of-type(3) h3 {
    margin-left: 5px;
    margin-bottom: 0px !important;
    font-family: 'Secular One', sans-serif;
}

div:nth-of-type(3) p {
    margin-left: 5px;
    color: rgb(138, 138, 138);
    font-size: 13px;
    margin-top: 0;
    font-family: 'Secular One', sans-serif;
}

div:nth-of-type(4) img {
    margin-left: 17px;
    width: 30px;
    height: 30px;
}

div:nth-of-type(4) p {
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}

p:nth-child(3),
p:nth-child(4),
p:nth-child(5) {
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}

div:nth-of-type(4) img[src="/images/todo.svg"] {
    margin-top: 5px;
}

span:nth-of-type(1) {
    margin-left: 0.3em;
    position: absolute;
    top: 18.5px;
    display: inline;
    font-weight: normal;
}

div:nth-of-type(4)>p:nth-of-type(1) {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: underline;
}