.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 700px;
}

.wrapper>div {
    background-color: rgb(252, 252, 252);
    height: 40px;
    width: 700px;
    border-radius: .7em;
}

.logo {
    font-size: 17px;
    margin-left: .5em;
    font-family: 'Secular One', sans-serif;
}

span {
    margin-left: .3em;
    position: absolute;
    top: 18.5px;
}

.inviteBtn {
    float: right;
    width: 50px;
    margin-right: .4em;
    background-color: rgb(65, 105, 225);
    color: white;
    border: none;
    border-radius: .3em;
    padding: .4em;
    position: relative;
    top: -34px;
}

.icons {
    width: 25px;
    height: 35px;
}

.icon-volume {
    width: 25px;
    height: 35px;
    margin-left: 5px;
}

.icon-off {
    width: 25px;
    height: 35px;
    display: none;
}

.icon-save {
    width: 25px;
    height: 35px;
    margin-left: 35px;
}

.icon-expand {
    margin-left: 45px;
    width: 22px;
    height: 30px;
}

.profileIcon {
    float: right;
    margin-right: 30px;

}

.data {
    align-self: baseline;
}


body {
    background-color: black;
}

.name {
    position: absolute;
    top: 5px;
    left: 87px;
    font-family: 'Secular One', sans-serif;
    font-size: 14px;
}

/* Second container */
.container {
    display: flex;
    justify-content: center;
    gap: 900px;
    margin-top: 20px;
}

.container>div {
    background-color: orange;
    width: 371px;
    height: 530px;
    background-color: rgb(252, 252, 252);
    border-radius: .7em;
}

.container>.tools {
    height: 300px !important;
    width: 90px !important;
}

.tools>p {
    text-transform: uppercase;
    margin-left: 7.3px;
    font-family: 'Secular One', sans-serif;
    font-weight: thin;
    font-size: 15px;
    font-weight: bold;
}

.explore>h3 {
    margin-left: 5px;
    margin-bottom: 0px !important;
    font-family: 'Secular One', sans-serif;
}

.explore>p {
    margin-left: 5px;
    color: rgb(138, 138, 138);
    font-size: 13px;
    margin-top: 0;
    font-family: 'Secular One', sans-serif;
}

.tech {
    width: 60px;
    height: 60px;
    object-fit: fill;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 15px;
    margin-left: 5px;

}

.gif-image {
    background-image: url("https: //im2.ezgif.com/tmp/ezgif-2-9e273724e3.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}